@import "../styles/main.module.scss";

.breadcrumb {
    display: grid;
    grid-auto-flow: column;
    width: max-content;
    gap: 10px;
    align-items: center;
    margin-top: 30px;

    p {
        color: #C4C4C4;
        font-size: 12px;
        text-transform: uppercase;
    }
}