@import "../styles/main.module.scss";

.title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 16px;
    text-align: start;

    @media (max-width: $medium) {
        text-align: center;
    }
}