@import "../styles/main.module.scss";

.searchBar {
    position: relative;
    width: 50%;
    margin: auto;

    @media (max-width: $small) {
        display: block;
        width: 95%;
    }

    input {
        width: 100%;
        border: none;
        border-radius: 5px;
        height: 32px;
        text-indent: 10px;
        color: #C4C4C4;
    }

    button {
        position: absolute;
        right: 3%;
        top: 3px;
        background-color: transparent;
        border: navajowhite;
        padding: 13px 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cg clip-path='url(%23clip0_2480_350)'%3E%3Cpath d='M13.2094 11.6187C14.0951 10.4091 14.6249 8.92334 14.6249 7.31267C14.6249 3.2807 11.3444 0.000183105 7.31245 0.000183105C3.28048 0.000183105 0 3.2807 0 7.31267C0 11.3446 3.28052 14.6252 7.31248 14.6252C8.92315 14.6252 10.409 14.0953 11.6186 13.2095L16.4092 18.0001L18 16.4093C18 16.4092 13.2094 11.6187 13.2094 11.6187ZM7.31248 12.3751C4.52086 12.3751 2.25001 10.1043 2.25001 7.31267C2.25001 4.52104 4.52086 2.25019 7.31248 2.25019C10.1041 2.25019 12.375 4.52104 12.375 7.31267C12.375 10.1043 10.1041 12.3751 7.31248 12.3751Z' fill='%23292929'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2480_350'%3E%3Crect width='18' height='18' rx='5' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

}