@import "../styles/main.module.scss";

.maingrid {
    display: grid;
    grid-template-columns: 18% 79%;
    gap: 30px;
    min-height: 400px;

    @media (max-width: $large) {
        grid-template-columns: 25% 72%;
    }

    @media (max-width: $medium) {
        grid-template-columns: unset;
    }

    ul {
        display: grid;
        border-right: solid 1px lightgray;

        @media (max-width: $large) {
            border-right: none;
        }

        a {
            padding: 10px 5px;
    
            &:hover {
                background-color: #f5f5f5;
            }
    
            &[class="active"]{
                background-color: $cor-principal;
                color: white;
            }
        }
    }
    
    h2 {
        margin: 0;
    }
}