@import "../styles/main.module.scss";

footer {
    position: relative;

    @media (max-width: $small) {
        padding-top: 60px;
    }

    .newsletter {
        padding: 20px 10px;
        border-top: solid 1px lightgray;
        border-bottom: solid 1px lightgray;

        &>div {
            max-width: 600px;
            margin: auto;
        }

        h1 {
            font-size: 18px;
            text-align: initial;
            font-weight: 500;
            margin-bottom: 12px;
            margin-left: 2px;
            text-transform: uppercase;

            @media (max-width: $small) {
                font-size: 14px;
            }
        }

        form {
            
            @media (max-width: $small) {
                display: grid;
                gap: 16px;
            }

            input {
                height: 42px;
                width: 60%;
                border: solid 1px lightgray;
                border-radius: 5px;
                text-indent: 13px;
                margin-right: 7px;

                @media (max-width: $small) {
                    height: 50px;
                    width: 100%;
                    border-radius: 0px;
                }
            }

            button {
                cursor: pointer;
                width: 150px;
                height: 42px;
                margin: auto;
                
                border-radius: 5px;
                border: none;
                background-color: $cor-principal;
                box-shadow: 0px 3px 4px #afafaf;

                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                color: white;
                
                &:hover {
                    background-color: #07a2cd;
                    transition: 0.2
                }

                @media (max-width: $small) {  
                    height: 50px;
                    width: 100%; 
                    font-size: 14px;
                    border-radius: 0px;
                }

            }
        }

        .warning {
            margin-top: 10px;
            margin-left: 10px;
        }
    }
}

.whatsapp {
    position: fixed;
    bottom: 30%;
    right: 1%;
    z-index: 1;
}

.uptotop {
    position: absolute;
    top: 10%;
    right: 1%;
    background-color: #C4C4C4;
    border-radius: 100%;

    a {
        display: block;
        margin-bottom: 4px;
        padding: 6px 11px;
    }
}

.quatroColunas {
    display: grid;
    grid-template-columns: 20% 20% 35% 25%;
    padding: 25px 10px;
    max-width: 1000px;
    margin: auto;

    @media (max-width: $medium) {
        grid-template-columns: 49% 49%;
        gap: 25px;
    }

    @media (max-width: $small) {
        gap: 25px;
        grid-template-columns: unset;
    }

    p {
        font-size: 12px;
        font-weight: 500;
        color: #303030;
    }
    
    h2 {
        padding-bottom: 5px;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;

        
        @media (max-width: $small) {

            &[class="show"]:after {
                content: "-";
                font-size: 16px;
                position: absolute;
                right: 8%;
            }

            &[class="hide"]:after {
                content: "+";
                font-size: 16px;
                position: absolute;
                right: 8%;
            }

            &[class="hide"] + ul {
                display: none;
            }

            &[class="show"] + ul {
                display: block;
            }
        }
    }
    
    li {
        padding: 6px 0px;
    }

    a {
        font-size: 12px;
        font-weight: 400;
        text-decoration: none;
        color: #303030;
    }

    .gridImages {
        display: grid;
        height: max-content;
        gap: 10px;

        div {
            display: grid;
            grid-auto-flow: column;
            width: fit-content;
            gap: 10px;
        }

        a {
            font-size: 14px;
        }
    }
}

.rodape {
    background-color: $cor-secundaria;
    padding: 20px 10px;

    &>div {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        text-align: center;
        align-items: center;
        max-width: 1300px;
        margin: auto;

        @media (max-width: $medium) {
            gap: 20px;
            grid-template-columns: unset;
        }

        @media (max-width: $small) {
            text-align: initial;
            place-items: flex-start;
            display: flex; 
            flex-direction: column;
        }

        .copyright {
            @media (max-width: $small) {
                order: 2;
                
                p {
                    display: none;
                }

                p:first-child {
                    display: block;  
                }
            }
        }

        .flags {
            @media (max-width: $small) {
                order: 1;
            }
        }
        
        .devs {
            @media (max-width: $small) {
                order: 3;
            }
        }

    }

    p {
        color: white;
        font-size: 10px;
        font-weight: 400;
        text-align: start;
        @media (max-width: $large) {
            display: initial;
        }
    }

    svg {
        @media (max-width: $small) {
            width: 100%;
        }
    }
}