@import "../styles/main.module.scss";

.formularioInstitucional {
    display: grid;
    gap: 30px;
    margin-bottom: 60px;

    .title{
        font-size: 24px;
        font-weight: 400;
        margin-left: 21%;
        text-align: initial;
        margin-top: 10px;

        @media (max-width: $large) {  
           font-size: 18px;
           margin-left: 0px;
           text-align: center;
           margin-top: 20px;
           margin-bottom: 0;
        }
    }

    &>div {
        display: grid;
        gap: 10px;
        width: 45%;
        margin-left: 15%;

        @media (max-width: $large) {  
            width: 80%;
            margin-left: 0px;
            margin: auto;
        }

        @media (max-width: $medium) {  
            width: 100%;
        }

        &>label {
            margin-left: 15px;
            font-size: 14px;
            font-weight: 400;
        }
        
        &>input {
            height: 47px;
            min-width: 100%;
            border: solid 1px;
            border-radius: 20px;
            text-indent: 20px;
        }

    }

    button {    
        cursor: pointer;
        width: 390px;
        height: 52px;
        margin: auto;
        border-radius: 30px;
        border: none;
        background-color: $cor-principal;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        @media (max-width: $large) {  
            width: 100%;
        }
    }

    button:hover {
        background-color: #288bc5;
        transition: 0.2
    }

    .checkbox {
        display: grid;
        grid-auto-flow: column;
        max-width: max-content;
        align-items: center;
        gap: 15px;
        margin: auto;
    
        &>* {
            cursor: pointer;
        }
    }
}

.warning {
    color: $cor-warning;
    font-size: 12px;
    margin: auto;
    width: fit-content;
}