@import "../styles/main.module.scss";

.opacitybg {
    position: absolute;
    z-index: 2;
    background-color: black;
    opacity: 0.5;
    height: 100vh;
    width: 100%;
}

header {
    background-color: $cor-principal;
    
    a {
        text-transform: uppercase;
        font-size: 14px;
        color: white;
        text-decoration: none;
    }

    .menuClick {
        display: none;

        @media (max-width: $small) {
            display: block;

            &>div:first-child[class="hide"] + div {
                display: none;
            }

            &>div:first-child[class="show"] + div {
                display: block;
            }

            .menuMobile {
                z-index: 3;
                position: absolute;
                background-color: white;
                padding: 20px;
                border: solid 1px lightgray;
                width: 70%;
                left: 0;
                top: 0;
                bottom: 0;

                a {
                    color: black;
                }

                ul { 
                    margin-top: 10px;
                    display: grid;
                    gap: 10px;
                }
            }
        }
    }

    &>div:first-child  {
        max-width: 1200px;
        margin: auto; 
        display: grid;
        grid-template-columns: 25% 50% 25%;
        padding: 20px 0px;

        @media (max-width: $large) {
            padding: 20px 10px;
            place-items: center;
            grid-template-columns: 20% 60% 20%;
        }

        a {
            font-weight: 400;
        }

        .login {
            @media (max-width: $small) {
                display: none;
            }
        }

        .kart {
            display: grid;
            grid-auto-flow: column;
            gap: 40px;
            width: max-content;
            place-items: center;
            place-self: end;

            @media (max-width: $small) {
                place-self: center;
            }
        }
    }

    .menu {
        border-top: solid 1px #C4C4C4;

        @media (max-width: $small) {
            display: none;
        }
        
        ul {
            max-width: 1200px;
            margin: auto;
            display: grid;
            grid-auto-flow: column;
            place-content: flex-start;
            gap: 126px;
        }

        @media (max-width: $large) {
            padding: 0px 15px;
        }

        a {
            font-weight: 500;
            display: block;
            padding: 15px 0px;
        }
    }

    .searchBarDesk {
        width: 100%;
        margin: auto;

        @media (max-width: $small) {
            display: none;
        }
    }

    .searchBarMobile {
        display: none;
    
        @media (max-width: $small) {
            display: block;
            padding: 15px 0px;
        }
    }

}