@import "./styles/main.module.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fonte;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 0px 10px;

    @media (max-width: $medium) {
        padding: 15px;
    }

    h1 {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 40px;
        margin-top: 80px;
        text-align: center;

        @media (max-width: $medium) {
            margin-top: 33px;
            margin-bottom: 23px;
        }
    }

    p {
        color: #858585;
        font-weight: 400;
        text-align: justify;
    }

    a {
        display: block;
        text-decoration: none;
        color: #7D7D7D;
    }

}

input {
    outline: none;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
  }

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: #eeeded;
}

::-webkit-scrollbar-thumb {
    background: #000000;
}

::-webkit-scrollbar-thumb:hover {
    background: #585858;
}